<section  style="background-image: url(../assets/iamges/background.webp); background-repeat: no-repeat;
                background-size: cover ;">
  <div class="container py-5 vh-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <p class="text-white-50 mb-5">Ingrese la cantidad de dinero que desea depositar: </p>

              <div class="form-outline form-white mb-4">
                <div class="input-group">
                  <span class="input-group-text">$</span>
                  <input type="number" id="" class="form-control form-control-lg" placeholder="ejem: 250.50" />
                </div>
                <label class="form-label" for="">Monto</label>
              </div>

              <a  (click)="montoIngresado()"  class="btn btn-outline-light btn-lg px-5" type="submit">Agregar Monto</a>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

