<div class="py-5 row d-flex justify-content-center align-items-center vh-100" style="background-image: url(../assets/iamges/background.webp);
background-repeat: no-repeat;
           background-size: cover ;">

 <div class="col-md-12">
   <div class="row d-flex flex-wrap align-items-stretch">
     <label class="col-6 d-flex justify-content-center align-items-center " >
       <button class="btn btn-outline-light btn-block my-3 text-center w-50" style="height: 150px;">Electricidad</button>
     </label>
     <label class="col-6 d-flex justify-content-center align-items-center ">
       <button class="btn btn-outline-light btn-block my-3 text-center w-50" style=" height: 150px;">Agua</button>
     </label>
     <label class="col-6 d-flex justify-content-center align-items-center">
       <button class="btn btn-outline-light btn-block my-3 text-center w-50" style="height: 150px;">Internet</button>
     </label>
     <label class="col-6 d-flex justify-content-center align-items-center">
       <button class="btn btn-outline-light btn-block my-3 text-center w-50" style="height: 150px;">Telefono</button>
     </label>
   </div>
 </div>
 <div class="col-md-12">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="text-white ">
      <label class="d-flex justify-content-center align-items-center">Ingrese el correlativo del recibo</label>
      <div class="form-outline form-white mt-3">
        <input type="number" class="form-control form-control-lg mx-auto text-center" style="width: 300px;">
      </div>
      <label class="d-flex justify-content-center align-items-center mt-3">Monto a Pagar</label>
      <div class="d-flex justify-content-center align-items-center flex-column">
        <span class=" mt-2" style="font-size: 30px;"></span>
        $500.00
      <a class="btn btn-outline-light btn-lg mt-3 " style="width: 300px;" type="submit">Pagar</a>
      </div>
    </div>
  </div>
 </div>
</div>




